<h1>Restaurar contraseña</h1>

<form action="/api/sessions/restore-password" method="post">
    <label>Email: </label> <input type="email" name="email" id="emailInput" /> <br/><br/>
    
    <button type="submit" id="sendBtn">Enviar Mail</button>
</form>
<br>
<button type="button"><a href="/login">Home</a></button>