<h1>Restaurar contraseña</h1>

<form action="/api/sessions/update-password" method="post">
    <label>Email: </label> <input type="email" name="email" id="emailInput" /> <br/><br/>
    <label>Contraseña: </label> <input type="password" name="password" id="passwordInput" /> <br/><br/>
    <button type="button" id="restoreBtn">Restaurar contraseña</button>
</form>

<h5 id="resultMessage"></h5>

<button type="button"><a href="/login">Volver al login</a></button>

<script src="js/update-password.js"></script>